<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="deploymentConfiguration" type="ZD365DT.DeploymentTool.Configuration.DeploymentConfigurationSection, DeployD365Customizations"/>
  </configSections>

  <deploymentConfiguration xmlns="http://schemas.zerostudioinc.com/crmdeployment/2016" action="Install" failOnError="false" loggingDirectory=".\Backup">
    <deploymentOrganizations>
      <deploymentOrganization name="ExportPluginXML" enabled="false">
        <crm crmconnectionstring="@CONFIG_SERVER_CONNECTIONSTRING@" organization="@CONFIG_SERVER_ORGNAME@" authentication="AD" enforceTls12="false" />
        <delete>
          <element type="file" target=".\Assemblies\PluginSteps.xml" targettype="files" ></element>
        </delete>
        <getpluginxml solution="@SOLUTIONNAME@" filename=".\Assemblies\PluginSteps.xml"></getpluginxml>
      </deploymentOrganization>
      
      <deploymentOrganization name="UNIQUENAME1" enabled="true">
        <crm crmconnectionstring="ServiceUri=http://localhost:5555/DevCRM; Username=administrator; Password=xxxxx;"  organization="xxxx" authentication="OnPremise" />

        <crmdeployment serviceurl="http://CRMSERVERNAME" username="administrator" password="password" domain="ZSdev"></crmdeployment>
        <organizations>
          <organization action="create" uniquename="CRMORG" friendlyname="CRMORG"
                                  sqlservername="SQLServer" srsurl="http://SQLServer/ReportServer" basecurrencycode="AUD"
                                  basecurrencyname="Australian Dollar" basecurrencysymbol="$" basecurrencyprecision="2">
          </organization>
        </organizations>

        <defaultpublishers>
          <publisher displayname="Default ZS" description="Default ZS Publisher..." prefix="zs" optionvalueprefix="10000" />
        </defaultpublishers>
        
        <publishers publisherconfig=".\SampleCrmPublisher.xml">
          <publisher name="zerostudioinc" displayname="ZeroStudioInc" description="ZS Publisher..." prefix="zs" optionvalueprefix="20000" addresscountry="Australia" phone="0290001234" email="zs@zerostudioinc.com" website="http://www.zerostudioinc.com/" />
        </publishers>

        <solutions solutionconfig=".\SampleCrmSolution.xml">
          <solution name="testsolution1" displayname="TestSolution1" description="Test Solution 1" version="1.1.0.0" publisheruniquename="zerostudioinc" />
          <solution name="testsolution2" displayname="TestSolution2" description="Test Solution 2" publisheruniquename="zerostudioinc" />
          <solution name="testsolution3" displayname="TestSolution3" description="Test Solution 3" publisheruniquename="zerostudioinc" />
        </solutions>

        <globaloptionsetmetadatas metadataconfig=".\SampleGlobalOpMetadata.xml" continueOnError="true" schemaLowerCase="true">
          <metadata metadatafile=".\SampleGlobalOp1.xml" customizationprefix="zs" solutionname="testsolution1" publish="true" />
          <metadata metadatafile=".\SampleGlobalOp2.xml" customizationprefix="zs" solutionname="testsolution2" languagecode="1033" />
        </globaloptionsetmetadatas>
        
        <entitymetadatas metadataconfig=".\SampleEntityMetadata.xml" continueOnError="true" schemaLowerCase="true" suffixLookupWithId="true" suffixOptionSetWithId="false">
          <metadata metadatafile=".\SampleEntities1.xml" customizationprefix="zs" solutionname="testsolution1" publish="true" />
          <metadata metadatafile=".\SampleEntities2.xml" customizationprefix="zs" solutionname="testsolution2" languagecode="1033" />
        </entitymetadatas>

        <manytomanyrelationmetadatas metadataconfig=".\SampleNtoNRelationMetadata.xml" continueOnError="true" schemaLowerCase="true">
          <metadata metadatafile=".\SampleCrmNtoNRelation.xml" customizationprefix="zs" solutionname="testsolution1" languagecode="1033" />
        </manytomanyrelationmetadatas>

        <patchCustomizationXmls>
          <patchCustomizationXml file=".\Customizations\CRM_managed.zip" patchType="CustomControlDefaultConfigs" />
          <patchCustomizationXml file="c:\Customizations\CRM_@suffixfile@.zip" patchType="CustomControlDefaultConfigs" />
        </patchCustomizationXmls>
        
        <customizations publishWorkflows="true or false" publishType="None" workflowlist=".\customizations\workflow_lists.txt" customizationconfig="./SampleCrmCustomization.xml">
          <customization file=".\Customizations\CRM_managed.zip" solutionName="CRM"  action="export" ismanaged="true or false" deactivateworkflow="true" waitTimeout="300" />
          <customization file="c:\Customizations\CRM_UnManaged.zip" solutionName="CRM" action="import"  ismanaged="true or false" deactivateworkflow="false" waitTimeout="300" />
        </customizations>

        <getpluginxml solution="solution" filename=".\Plugins\registerexport.xml"></getpluginxml>

        <plugins sourceDirectory=".\Plugins">
          <plugin definitionFileName="register.xml" solution="solution" uploadonly="true or false" unregister="true or false" unregisteronly="true or false"></plugin>
        </plugins>

        <workflowassemblies>
          <workflowassembly source=".\Assemblies\" solution="OPTIONAL" ></workflowassembly>
        </workflowassemblies>

        <duplicateDetectionRules>
          <duplicateDetection name="export" sourceFile=".\DuplicateDetection\DuplicateDetectionRules-export.xml" action="export"/>
          <duplicateDetection name="import" sourceFile=".\DuplicateDetection\DuplicateDetectionRules-import.xml" action="import"/>
          <duplicateDetection name="delete" sourceFile=".\DuplicateDetection\DuplicateDetectionRules-delete.xml" action="delete"/>
        </duplicateDetectionRules>

        <incrementSolutionBuildNumber publishType="Batch" setversion="true" setversionvalue="1.0.0.1">
          <solution name="SolutionName" ></solution>
        </incrementSolutionBuildNumber>

        <webresources>
          <webresource source=".\WebResources\" sourcetype="directory or configxml" customizationPrefix="OPTIONAL" filename="webresources.xml" solution="OPTIONAL" usecustomizationprefixindisplayname="true"></webresource>
        </webresources>

        <ribbon>
          <ribbonelement filename=".\ClientExtensionEditor\exportribbon.xml"  entities="account,lead,contact,etc.." includeappribbon="true or false" action="import or export"></ribbonelement>
        </ribbon>

        <sitemap>
          <sitemapelement filename=".\ClientExtensionEditor\exportsitemap.xml"  action="import or export"></sitemapelement>
        </sitemap>

        <reports>
          <report name="Example Report" fileName=".\Reports\Example Report.rdl" description="An Example report." languageCode="1033" relatedRecords="contact" displayAreas="1,3" installBehaviour="UpdateExisting"/>
        </reports>

        <dataMap>
          <map fileName=".\DataMap\SystemConfig.xml"  name="System Config" action="export" ></map>
          <map fileName=".\DataMap\SystemConfig.xml"  name="System Config" action="delete" ></map>
          <map fileName=".\DataMap\SystemConfig.xml"  name="System Config" action="import" ></map>          
        </dataMap>
        
        <dataExport>
          <export fileName=".\DataExport\account.csv" entityName="account" />
        </dataExport>

        <dataImport>
          <!--owningTeam/domainUserName can be sepcified for each import,Records will be assigned based to the user/team based on this setting-->
          <import fileName=".\DataImport\account.csv" datamap="OPTIONAL" entityName="account" fieldDelimiter="Comma" dataDelimiter="DoubleQuote" domainUserName="domain\user" owningTeam="TeamName" detectDuplicates="true" waitForCompletion="true" waitTimeout="120"/>
        </dataImport>

        <dataDelete>
          <delete entityName="EntityLogicalName" dataBackUp="true or false" waitForCompletion="true or false" waitTimeout="120"></delete>
        </dataDelete>

        <assignSecurityRole>
          <element name="1" securityrole="system administrator" domainusername="domain\user" teamname="TEAMNAME"></element>
        </assignSecurityRole>

        <assignWorkflowToUser >
          <element domainusername="domain\user" workflow="Workflow Name"></element>
        </assignWorkflowToUser>

        <activateWorkflows allWorkflows="true" >
          <workflow name="test"></workflow>
        </activateWorkflows>

        <external>
          <action name="Sample Action"  executable=".\Executables\Xcopy.exe" arguments="domain=@CRM_DOMAIN@ username=@CRM_USERNAME@ password=@CRM_USERNAME@" workingDirectory=".\" captureOutput="true" expectZeroReturnCode="true"/>
        </external>

        <copy>
          <element type="directory or file" source=".\Copy\CopyItems" target="@CRM_WEBSITE_PATH@"/>
        </copy>

        <delete>
          <!--type = 'directory' , targettype = 'subfolder' deletes all subfolder in the folder-->
          <!--type = 'directory' , targettype = 'files' deletes all files in the folder-->
          <!--type = 'directory' , targettype = 'allcontent' deletes all files and subfolder in the folder-->
          <!--type = 'directory' , targettype = 'all' deletes the folder-->
          <element type="directory or file" target=".\Imports Temp" targettype="subfolder or files or allcontent or all" ></element>
        </delete>

        <sql>
          <script name="Sample Script" executeActionOn="Install" connectionString="server=zscrmdc;Database=@CRM_ORG_NAME@_MSCRM;Integrated Security=true" sourceFile=".\Sql\sample.sql" executeInTransaction="true"/>
          <script name="Sample Script" executeActionOn="Uninstall" connectionString="server=zscrmdc;Database=@CRM_ORG_NAME@_MSCRM;Integrated Security=true" sourceFile=".\Sql\sampleUninstall.sql" executeInTransaction="true"/>
        </sql>

        <windowsServices>
          <windowsService name="Example Windows Service" executable="ZeroStudio.Crm.ExampleService.exe" sourceDirectory=".\Integration\CrmWindowsService" targetDirectory="C:\Program Files\ZeroStudio\CrmWindowsService"/>
        </windowsServices>

        <websites>
          <website name="Example CRM Website" virtualDirectory="CrmWebSite" applicationPool="CrmCustomAppPool"
                   sourceDirectory=".\Integration\CrmWebSite" targetDirectory="C:\Program Files\ZeroStudio\CrmWebSite" allowAnonymousAccess="true">
            <mime extension=".xap" type="application or x-silverlight-app"/>
            <mime extension=".xaml" type="application or xaml+xml"/>
            <mime extension=".xbap" type="application or x-ms-xbap"/>
          </website>
        </websites>

        <startWindowsService>
          <service server="Server Name" name="Service Name"></service>
        </startWindowsService>

        <stopWindowsService>
          <service server="Server Name" name="Service Name"></service>
        </stopWindowsService>

        <crmthemes>
          <theme name="SampleTheme" themeSettingFile=".\Theme\SampleCrmTheme.xml" publishTheme="true" />
        </crmthemes>

        <assemblyModes>
          <assemblyMode name="PluginAssemblyName" sandboxed="false" />
        </assemblyModes>
      </deploymentOrganization>

      <deploymentOrganization name="UNIQUENAME2">
        <crm crmconnectionstring="ServiceUri=https://localhost:5555/org; Username=USERNAME; Password=XXXXX;" organization="ORG" authentication="IFD" />
        <!--All the configurations from UniqueName1 can be used here.Deployment orgnization could be multiple-->
      </deploymentOrganization>
    </deploymentOrganizations>
    <executionContexts>
      <executionContext name="default">
        <add name="SMTP_SERVER_NAME" value="ZSCRM"/>
        <add name="CRM_WEBSITE_PATH" value="c:\Copied"/>
        <add name="SERVER" value="ZSCRM"/>
      </executionContext>
      <executionContext name="fromXml" contextFile=".\SampleExecutionContext.xml" />
    </executionContexts>
  </deploymentConfiguration>

  <appSettings>

    <add key="CacheExpirationHours" value="2"/>
    <!--Service time out in minutes-->
    <add key="CrmServiceTimeoutMinutes" value="60"/>
    <!--Service time out in minutes-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <system.web>
    <!--Set the Execution timeout in Seconds and the Maximum CRM Solution file size that can be imported in KB-->
    <httpRuntime executionTimeout="3600" maxRequestLength="10240"></httpRuntime>
  </system.web>
</configuration>
