<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="deploymentConfiguration" type="ZD365DT.DeploymentTool.Configuration.DeploymentConfigurationSection, DeployD365Customizations" />
	</configSections>
	<deploymentConfiguration xmlns="http://schemas.zerostudioinc.com/crmdeployment/2016" action="Install" failOnError="false" loggingDirectory="..\Backup">
		<deploymentOrganizations>
			<!--Deployment to target box-->
			<deploymentOrganization name="DeployToDestination">
				<crm crmconnectionstring="@DESTINATION_SERVER_CONNECTIONSTRING@" organization="@DESTINATION_SERVER_ORGNAME@" authentication="OAuth" />
				<!--Import Customisations-->
				<!--<customizations publishWorkflows="true" publishType="None">
			-->
				<!--Theme-->
				<!--
					<customization file=".\Customizations\@THEMESOLUTIONNAME@_@PACKAGE_MANAGED_UNMANAGED@.zip" solutionName="@THEMESOLUTIONNAME@" action="import" deactivateworkflow="false" ismanaged="@ISMANAGED@" backupBeforeImport="false" />
				</customizations>-->
				
				<!--Deploy Theme-->
				<crmthemes>
					<theme name="ZeroTheme" themeSettingFile=".\..\..\..\..\Test\ZD365DT.DeploymentTool.Test.WebResources\theme\@THEMEXMLFILE@" publishTheme="true" />
				</crmthemes>
			</deploymentOrganization>
		</deploymentOrganizations>
		<executionContexts>
			<executionContext name="default">
				<add name="THEMESOLUTIONNAME" value="ZeroTheme" />
				<add name="THEMECUSTOMIZATIONPREFIX" value="zxrm" />
				<add name="SOLUTIONNAME" value="CrmDeploymentToolTestSolution" />
				<add name="CUSTOMIZATIONPREFIX" value="zs" />
				<add name="THEMEXMLFILE" value="ZeroTheme.xml" />
				<add name="DESTINATION_ENVIRONMENT" value="ZERO" />
				<add name="PACKAGE_MANAGED_UNMANAGED" value="managed" />
				<add name="ISMANAGED" value="true" />
				<add name="DESTINATION_SERVER_CONNECTIONSTRING" value="ServiceUri=http://zerocrm08.australiaeast.cloudapp.azure.com/CrmDeploymentTool; Username=zero\crmbuilder; Password=***;" />
				<add name="DESTINATION_SERVER_ORGNAME" value="CrmDeploymentTool" />
				<add name="DESTINATION_SQLCONNECTIONSTRING" value="Data Source=zerocrm08;Initial Catalog=CrmDeploymentTool_MSCRM;Integrated Security=SSPI;" />
			</executionContext>
		</executionContexts>
	</deploymentConfiguration>
	<appSettings>
		<add key="CacheExpirationHours" value="2" />
		<add key="CrmServiceTimeoutMinutes" value="60" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<!--Set the Execution timeout in Seconds and the Maximum CRM Solution file size that can be imported in KB-->
		<httpRuntime executionTimeout="3600" maxRequestLength="10240" />
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>